html {
    box-sizing: border-box;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  img {
    max-width: 90%;
    height: auto;
  }


body{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}


.container-head{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    margin: 20px 103px 26px 82px;
}

header{
    background: #2e948a;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

header h2 a{
    display: block;
    color: transparent;
    background: url(assets/logo-header.png) 0 0 no-repeat ;
    width: 244px;
    height: 77px;

}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;

}

header nav ul li{
    list-style: none;
}

header nav a{
    color: #fdfdfd;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px;
    text-transform:uppercase;
    line-height: 23px;
    display: flex;
}

footer{
    width: 100%;
    height: 207px;
    background: #419488;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.container-footer{
    width: 100%;
    height: 207px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin: 33px 0 26.5px 66px;
}

footer h2 a{
    background: url(assets/logo-footer.png) 0 0 no-repeat;
    display: inline-block;
    color: transparent;

    height: 105px;
}

footer nav ul a{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    line-height: 23px;
    text-transform: lowercase;
    line-height: 23px;
    width: 71px;
    height: 83px;
    text-decoration: none;
}

footer nav  ul{
    text-align: left;
    align-items: center;
}

footer nav li{
    padding: 3px;
}

.anexo a{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    text-transform: lowercase;
    line-height: 23px;
    align-items: center;
    border: 2px solid white;
    border-radius: 62px;
    padding: 14px 51px;
    display: flex;
    margin: 0 50px 14px;
    text-align: center;
    justify-content: space-around;
}

@media screen and (max-width: 1280px) {
    .container-head, h2, a{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    .container-footer{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .container .section-inicial {
        flex-direction: column-reverse;
        align-items: center;
        margin: 10%;
        text-align: center;
    }
    .section-inicial h1 {
        width: auto;
        text-align: center;
        font-size: auto;
        height: auto;
    }
    .container .section-inicial p {
        width: auto;
        text-align: center;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap; 
    }
    .section-meio, coment, texto{
        flex-direction: column;
        align-items: center;
        text-align: center; 
        justify-content:center;
        flex-wrap: wrap;
        width: auto;
    }
    .section-meio img{
        display: flex;
        flex-wrap: wrap;
    }
    .section-footer{
        height: auto;

    }
    .section-footer ul{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .section-footer, .caixa, span{
        flex-direction: column;
        justify-content:center;
        margin: 0;
        margin-bottom: 20px;
    }

    @media screen and (max-width: 770px){
        footer .anexo a{
            width: auto;
            display: flex;
            margin: 10px;
            padding: 10px 40px;
            font-size: 15px;

        }
    }

    @media screen and (max-width: 510px){

        .container-head{
            width: auto;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
        }
         ul li a{
            font-size: 10px;
            padding: 15px;
        }
        .container {
            width: auto;
            flex-direction: column-reverse;
            align-items: center;
        }
        .container .section-inicial {
            width: auto;
            flex-direction: column-reverse;
            align-items: center;
            margin: 0;
            text-align: center;
            padding: 0;
            gap: 0;
        }
        .section-inicial div h1 {
            width: auto;
            text-align: center;
            font-size: 25px;
            height: auto;
            line-height: 35px;
        }
        .container .section-inicial p {
            font-size: 15px;
            width: auto;
            text-align: center;
            margin: 0;
        }
        div img{
            width: 200px;
            height: auto;
            padding: 10%;
        }
        div {
            padding-bottom: 20px;
        }
        .section-inicial div a{
            padding: 10;
            display: 50%;
            margin-bottom: 20px;
        }
        .section-1 img{
            margin-top: 10px;
        }
        .section-1 div{
            padding: 0px;
            font-size: 20px;
        }
        .section-meio{
            width: auto;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding: 5px;
            margin-bottom: 80px;
            row-gap: 40px;
            height: 1200px;
        }
        .coment{
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            justify-content: space-evenly;
        }
        .coment img{
            padding: 20px;
        }
        .coment .texto{
            text-align: center;
            margin: 0;
        }
        .margen{
            padding: 5%;
        }
        .section-footer{
            width: auto;
            padding: 5px;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        footer{
            height: 400px;
        }
        .container-footer{
            flex-direction: column;
            justify-content:center;
            text-align: center;
            width: auto;
            height: 450px;
            padding: 0;
            margin: 0;
        }
        li a{
            display:none;
        }
    }
    @media screen and (max-width: 321px){

        header .container-head, .container,
        .section-1, .section-meio, .section-footer{
            width: auto;
        }
        section, .section-inicial, div{
            width: auto;
        }
        .section-meio .coment .texto{ 
            width: auto;
        }
         .caixa{
             width: 230px;
        }
        .section-footer p{
            font-size: 10px;
            text-align: center;

        }
        .section-footer span{
            width: 250px;
            padding-bottom: 30px;
        }
        .section-footer ul li p{
            width: 200px;
        }
    }


