html {
    box-sizing: border-box;
  }
  

  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

main{
    box-sizing: border-box;

}
.container{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.section-inicial{
    display: flex;
    margin: 242px 0 66px ;
    gap: 39px;
    padding: 0 9% 0 9%;

}
div > h1{
    font-size: 60px;
    font-weight:bold;
    width: 488px;
    height: 216px;
    line-height: 69px;
    color: #FF4081;
    margin: 0;
    text-align: left;
 }
div > p{
     font-size: 27px;
     font-weight: 400;
     width: 462px;
     height: 62px;
     margin-bottom: 38px;
 }
div > a {
     font-size: 27px;
     font-weight: 400;
     text-decoration: none;
     width: 216px;
     height: 20.27px;
     line-height: 31px;
     margin: 0;
     color: #FF4081;
     border: 2px solid #FF4081;
     border-radius: 62px;
     box-sizing: border-box;
     padding: 8.5px 26px;
     text-align: left;

 }
div > img{
    align-items: center;
    justify-content: center;
    width: 501px;
    height: 511px;
    display: flex;
  
 }

article{
    background: #F6F6F6;
    height: auto;
    padding-bottom: 134px;

 }
article ul{
   display: flex;
   align-items: center;
   justify-content:space-around;
   text-align: center;
 }
 article ul li div{
  font-size: 25px;
  color: #ff4081;
  font-weight: bold;
  text-align: center;
  line-height: 29px;
  padding: 45px 0 0 0;
 }
 ul li p{
   font-size: 17px;
   width: 293px;
   height: 68px;
   margin: 23px;
   margin-bottom: 31px;

 }
 article  ul  li  a{
   font-size: 20px;
   font-weight: 400;
   line-height: 23px;
   color: white;
   text-align: center;
   text-decoration: none;
   border: 1px solid;
   border-radius: 62px;
   padding: 15px 50px;
   background: #FF4081;
   width: 233px;
   height: 51px;

 }
 .section-1 {
  display: flex;
}

.investimento img{
   width: 288px;
   height: 270px;
   align-items: center;
   justify-content: center;
   margin: 0;
   margin-top: 109px;
 }
 .poupando img{
   width: 238px;
   height: 270px;
   align-items: center;
   justify-content: center;
   margin: 0;
   margin-top: 109px;
 }
 .independencia img{
   width: 187px;
   height: 270px;
   align-items: center;
   justify-content: center;
   margin: 0;
   margin-top: 109px;
 }


.section-meio {
  margin: 0 auto;
  padding: 119px 0 155px 0;
  font-family: Nunito, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
}
.section-meio .coment {
  display: flex;
  gap: 28px;
}
.section-meio h3 {
  font-weight: 700;
  font-size: 37px;
  line-height: 50px;
  color: #009688;
  /* margin-bottom: 78px; */
  width: 100%;
}
.section-meio .coment img {
  display: inline-block;
  width: 104px;
  height: 104px;
}
.section-meio .coment p {
  width: 369px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24.55px;
}
.section-meio .coment span {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.margem{
  padding-left: 9%;
  padding-right: 9%;
}

.section-footer{
  height: 730px;
  background: #F7F7F7;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 128px;



}
.titulo-footer{
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 37px;
  font-weight: bold;
  text-transform: uppercase;
  color: #009688;
  line-height: 51px;
  margin: 91px 0 73px 0px;
  justify-content: space-evenly;

}

.section-footer ul li{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
}
.section-footer ul{
  display: flex;
}

.caixa{
  box-sizing: border-box;
  display: flex;
  width: 319px;
  height: 193px;
  background: #C4C4C4;
  margin-right: 109px;
  margin-bottom: 11px;
}
.section-footer ul li p{
  display: flex;
  width: 319px;
  height: 114px;
  flex-direction: column;
  text-align: left;
  margin: 0;
}
.section-footer span{
  font-size: 27px;
  color: #009688;
  font-weight: 700;
  width: 319px;
  height: 30px;
  display: flex;
  margin: 0;
  padding: 0;
}

div .bot-footer a{
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  width: 289px;
  height: 51px;

}
.bot-footer{
  display: block;
  font-weight: 400;
  font-size: 25px;
  color: #FF4081;
  border-radius: 62px;
  padding: 11px 0px 53px;
  width: 289px;
  margin: 101px auto 0;
  text-align: center;
}




/*
section >div > h3{
   font-family: 'Nunito', sans-serif;
   font-size: 37px;
   font-weight: bold;
   text-transform: uppercase;
   color: #009688;
   line-height: 51px;
   text-align: center;
   display: flex;
   margin: 119px 0 0 128px ;




 }
 